@font-face {
  font-family: hypik;
  src: url("https://www.dl.dropboxusercontent.com/s/77s3fqmbeah51gc/Octuple-max-demo.ttf");
}
@font-face {
  font-family: astrii;
  src: url("https://www.dl.dropboxusercontent.com/s/hm04znu47jahgzj/ASTRII__.TTF");
}
@font-face {
  font-family: sixtwonine;
  src: url("https://www.dl.dropboxusercontent.com/s/vn7e0h8cnce3ohh/0629____.TTF");
}
@font-face {
  font-family: pixel;
  src: url("https://www.dl.dropboxusercontent.com/s/5y91els6urmdqas/INVASION2000.TTF");
}

@font-face {
  font-family: pixelbody;
  src: url("https://www.dl.dropboxusercontent.com/s/uovx146aitb6s70/Pixolletta8px.ttf");
}

@font-face {
  font-family: basiic;
  src: url("https://www.dl.dropboxusercontent.com/s/lqgk8mb77cgypql/basiic.ttf");
}
